<% layout("layouts/boilerplate.ejs") %>

    <div class="card mx-5 mb-5 mt-4" style="width: 80rem; background: linear-gradient(#e66465, #9198e5);">
      <div class="card-body">
        <h5 class="card-title">Operations</h5>
        <div class="d-flex justify-content m-3">

          <div class="card m-3" style="width: 18rem">
            <a href="/login" class="btn"><div class="card-body">Login</div></a>
          </div>
          <div class="card m-3" style="width: 18rem">
            <a href="/register" class="btn"><div class="card-body">Register</div></a>
          </div>

        
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>


