<% layout("layouts/boilerplate.ejs") %>
<div class="container-fluid" style="padding-top: 20px">
    <div class="col-sm-12" style="padding-top: 20px">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <i class="mdi me-2 mdi-file-multiple"></i> Employee Salary List
            </h4>
            <div class="table-responsive">
              <table class="table user-table">
                <thead>
                  <tr>
                    <th class="border-top-0">Challan Number</th>
                    <th class="border-top-0">Name</th>
                    <th class="border-top-0">Employee ID</th>
                    <th class="border-top-0">Due Date</th>
                    <th class="border-top-0">Amount Due</th>
                    <th class="border-top-0">Status</th>
                    <th class="border-top-0">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Jared Murphy</td>
                    <td>371551</td>
                    <td>01/01/2023</td>
                    <td>5000</td>
                    <td><span class="badge bg-success">paid</span></td>
                    <td>
                      <a
                        href="#"
                        class="btn btn-success d-none d-md-inline-block btn-sm text-white"
                        ><i class="mdi mdi-pencil"></i> edit</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>Leroy Francis</td>
                    <td>023833</td>
                    <td>01/01/2023</td>
                    <td>4000</td>
                    <td><span class="badge bg-danger">unpaid</span></td>
                    <td>
                      <a
                        href="#"
                        class="btn btn-success d-none d-md-inline-block btn-sm text-white"
                        ><i class="mdi mdi-pencil"></i> edit</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>