<% layout("layouts/boilerplate.ejs") %>
<body>
  <div class="row justify-content-center">
    <div
      class="col-lg-9 col-md-8 d-flex flex-column align-items-center justify-content-center"
    >
      <div class="pt-4 pb-2">
        <h5 class="text-center pb-0 fs-4">Login to Your Account</h5>
        <p class="text-center small">Enter your email & password to login</p>
      </div>

      <form
        id="login_form"
        action="/login"
        method="POST"
        class="row g-3 needs-validation"
        novalidate
      >
        <div class="col-12">
          <label for="yourUsername" class="form-label">Email</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="inputGroupPrepend">@</span>
            <input
              type="email"
              name="username"
              class="form-control"
              id="yourUsername"
              required
            />
            <div class="invalid-feedback">Please enter your email.</div>
          </div>
        </div>

        <div class="col-12">
          <label for="yourPassword" class="form-label">Password</label>
          <input
            type="password"
            minlength="8"
            name="password"
            class="form-control"
            id="yourPassword"
            required
          />
          <div class="invalid-feedback">Please enter your password!</div>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend" style="max-height: 38px">
            <label class="input-group-text" for="inputGroupSelect01"
              >Log in as</label
            >
          </div>
          <select
            class="custom-select form-select"
            id="inputGroupSelect01"
            name="role"
          >
            <option selected value="Student">Student</option>
            <option value="Driver">Driver</option>
            <option value="Employee">Employee</option>
            <option value="Administrator">Administrator</option>
          </select>
        </div>

        <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              name="remember"
              value="true"
              id="rememberMe"
            />
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
        </div>
        <div class="col-12">
          <button class="btn btn-primary w-100" type="submit" form="login_form">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
