<% layout("layouts/boilerplate.ejs") %>

<div class="row">
  <div class="col-lg-8">
    <div
      class="card shadow p-3 mb-5 bg-white rounded"
      style="margin-top: 30px; margin-right: 60px; margin-left: 50px"
    >
      <div class="table-responsive">
        <div class="table-wrapper">
          <div class="table-title">
            <div class="row g-0">
              <div class="col-sm-8">
                <h2>Vehicle <b>Details</b></h2>
              </div>
              <div class="col-sm-4">
                <button type="button" class="btn btn-info add-new">
                  <i class="fa fa-plus"></i> Add New
                </button>
                <button type="button" class="btn btn-success">
                  <i class="material-icons">&#xE254;</i> Edit Use
                </button>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Vehicle Plate Number</th>
                <th>Number of Seats</th>
                <th>Color</th>
                <th>Model</th>
                <th>Use End Date</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>C-1728</td>
                <td>13</td>
                <td>White</td>
                <td>Hiace</td>
                <td></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
