<% layout("layouts/boilerplate.ejs") %>
    
  
    
    <style>
  .border-md {
      border-width: 2px;
  }
  
  body {
      min-height: 100vh;
  }
  
  .form-control:focus {
      box-shadow: none;
  }
  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
      background-color:#5c6ac4 !important;
  }
    </style>

  
      
  
    <div class="container">
      <div class="row py-5 justify-content-center">
          <div class="col-md-5 pr-lg-5 mb-5 mb-md-0 align-left">
              <img src="https://bootstrapious.com/i/snippets/sn-registeration/illustration.svg" alt="" class="img-fluid mb-3 d-none d-md-block">
              <h1>Register an Account</h1>
              </p>
          </div>
  
          <div class="card align-right" style="width: 41rem;">
            <div class="card-body">
              
              <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a href="#student" id = "student-tab" class="nav-link active" data-toggle="tab">Student</a>
                </li>
                <li class="nav-item">
                  <a href="#driver" id = "driver-tab" class="nav-link" data-toggle="tab">Driver</a>
                </li>
                <li class="nav-item">
                  <a href="#employee" id = "employee-tab" class="nav-link" data-toggle="tab" >Employee</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="student" role="tabpanel">
  
                  <main class="m-5">
                    <form action="/student_register" method="POST" name="student_register" id="student_register" novalidate class="needs-validation">
                        <div>
                          <label class="form-label" for="first_name">First Name : </label>
                          <input class="form-control" type="text" id="first_name" name="first_name" placeholder="First Name"required/>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                        <div>
                          <label class="form-label" for="last_name">Last Name : </label>
                          <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last Name"required/>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                    
                        <div>
                          <label class="form-label" for="cms">CMS id : </label>
                          <input class="form-control" type="number" id="cms" name="cms" placeholder="Cms Id" required/>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                        <div>
                          <label class="form-label" for="phnumber">Phone No : </label>
                          <input class="form-control" type="number" id="phnumber" name="phnumber" placeholder="Phone Number"required/>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                        
                        <div>
                            <label class="form-label" for="department">Department : </label>
                    
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">Department</label>
                              </div>
                            <select class="custom-select form-select" id="inputGroupSelect01"  name="department">
                              <option selected value="seecs">Seecs</option>
                              <option value="scme">Scme</option>
                              <option value="nbs">Nbs</option>
                              <option value="nice">Nice</option>
                              <option value="s3h">S3h</option>
                              <option value="smme">Smme</option>
                            </select>
                          </div>
                        </div>
                    
                    
                        <div>
                          <label class="form-label" for="address">Address : </label>
                          <input class="form-control" type="text" id="address" name="address" placeholder="Address" required/>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                        <div>
                          <label class="form-label" for="email">Email : </label>
                          <input class="form-control" type="email" id="email" name="email" placeholder="Email" required/>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                    
                        <div>
                          <label class="form-label" for="driver_id">Driver ID : </label>
                          <input class="form-control" type="number" id="driver_id" name="driver_id" placeholder="Driver ID"required/>
                          <div class="valid-feedback">Looks good</div>
                        </div>
                    
                        <div>
                          <label class="form-label" for="password">Password : </label>
                          <input class="form-control" type="password" id="password" name="password" placeholder="Password"required />
                          <div class="valid-feedback">Looks good</div>
                        </div>
                        <button class="btn btn-success" form="student_register" type="submit">Register</button>
                      </form>
                  </main>
  
  
                </div>
                <div class="tab-pane fade" id="driver" role="tabpanel">

                    <main class="m-5">
                        <form action="/driver_register" id="driver_register" name="driver_register" method="POST" novalidate class="needs-validation">
                            <div>
                              <label class="form-label" for="first_name">First Name : </label>
                              <input class="form-control" type="text" id="first_name" name="first_name" placeholder="First Name"required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                            <div>
                              <label class="form-label" for="last_name">Last Name : </label>
                              <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last Name"required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                        
                            <div>
                              <label class="form-label" for="phnumber">Phone No : </label>
                              <input class="form-control" type="number" id="phnumber" name="phnumber" placeholder="Phone Number"required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                            <div>
                              <label class="form-label" for="cnic">CNIC  : </label>
                              <input class="form-control" type="number" id="cnic" name="cnic" placeholder="CNIC"required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                            <div>
                              <label class="form-label" for="email">Email : </label>
                              <input class="form-control" type="email" id="email" name="email" placeholder="Email" required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                            <div>
                              <label class="form-label" for="plate_no">Plate No : </label>
                              <input class="form-control" type="text" id="plate_no" name="plate_no" placeholder="Plate No" required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                            <div>
                              <label class="form-label" for="route_id">Route ID : </label>
                              <input class="form-control" type="text" id="route_id" name="route_id" placeholder="Route ID" required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                        
                            <div>
                              <label class="form-label" for="password">Password : </label>
                              <input class="form-control" type="password" id="password" name="password" placeholder="Password"required />
                              <div class="valid-feedback">Looks good</div>
                            </div>
                        
                            <button class="btn btn-success" form="driver_register">Register</button>
                          </form>
                      </main>
      

                </div>
                <div class="tab-pane fade" id="employee" role="tabpanel">

                    <main class="m-5">
                        <form action="/employee_register" id="employee_register" method="POST" novalidate class="needs-validation">
                            <div>
                              <label class="form-label" for="first_name">First Name : </label>
                              <input class="form-control" type="text" id="first_name" name="first_name" placeholder="First Name"required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                            <div>
                              <label class="form-label" for="last_name">Last Name : </label>
                              <input class="form-control" type="text" id="last_name" name="last_name" placeholder="Last Name"required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                        
                            <div>
                              <label class="form-label" for="phnumber">Phone No : </label>
                              <input class="form-control" type="number" id="phnumber" name="phnumber" placeholder="Phone Number"required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                            <div>
                              <label class="form-label" for="email">Email : </label>
                              <input class="form-control" type="email" id="email" name="email" placeholder="Email" required/>
                              <div class="valid-feedback">Looks good</div>
                            </div>
                        
                            <div>
                              <label class="form-label" for="position">Registering For : </label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" for="position">Position</label>
                                </div>
                                <select class="custom-select form-select" id="position" name="position">
                                  <option selected value="driver">Driver</option>
                                  <option value="manager">Manager</option>
                                  <option value="Human Resources">Human Resources</option>
                                  <option value="Accountant">Accountant</option>
                                  <option value="Superviser">Superviser</option>
                                </select>
                            </div>
                          </div>
                        
                            <div>
                              <label class="form-label" for="password">Password : </label>
                              <input class="form-control" type="password" id="password" name="password" placeholder="Password"required />
                              <div class="valid-feedback">Looks good</div>
                            </div>
                        
                            <button class="btn btn-success" type="submit" form="employee_register">Register</button>
                            
                          </form>
                      </main>
      

                </div>
              </div>
          
            </div>
          </div>
      </div>
    </div>
 